header, .blog:not(:last-child) {
  border-bottom: 1px solid rgb(235, 172, 172);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #8aceed;
  text-decoration: underline;
}

.dollar-amount {
  color: #9de89d;
  font-weight: bold;
  margin-left: -5px;
}
